.videoCard {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    /* background-color: #888; */
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.videoCard img {
    width: 20em;
    height: auto;
    object-fit: cover;
}

.videoCard .textArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.3em 0.5em;
}

.videoCard .textArea span {
    font-weight: bold;
}

.videoCard .actionArea {
    transition: all 0.2s;
    font-size: 1em;
    background-color: #dcdcdc;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-family: 'Poppins';
}

.videoCard .actionArea:hover {
    background-color: #838282;
}